html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    margin: -1px -1px 0;
}

.title {
    background-color: burlywood;
    margin: 0 0 30px;
    padding: 50px 0;
    text-align: center;
}

img {
    width: 500px;
    height: auto;
    background-color: #ffffff;
}

.para {
    margin: 20px 350px 0 0;
}

button {
background-color: green;
}
span {
    display: block;
    font-weight: 700;
}

.lists {
    margin: 0 350px 0 0;
}