html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300px;
    text-align: center;
}

.title {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
font-weight: 600;
}

.jamaican,
.ndole,
.lamingtons  {
    background-color: rgb(131, 140, 133);
    padding: 5px;
    margin: 1em 0;
    text-align: left;
    width: 400px;
}


